@font-face {
    font-family:'Popins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family:'Popins';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'Work Sans';
    src: url(../fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'Work Sans';
    src: url(../fonts/WorkSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family:'Space Mono';
    src: url(../fonts/SpaceMono-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'Space Mono';
    src: url(../fonts/SpaceMono-Regular.ttf);
    font-weight: 400;
}























